.phone span i {
    color: #FFCE00;
}

.phone span {
    color: #fff;
    margin: 9px 0 0 9px;
    /*font-size: 15px;*/
    font-size: 13px;
}

.top-header .phone a{
	color: #faad40;
}

.top-header .phone {
	margin-right: 30px;
}
.gal{
	text-align: center;
	color: #faad40;
}

/*.garytab{
	padding: 0;
	margin-left: 0px;
}*/

ul.slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.slick-dots li button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0 2px;
    background: #2e2e2e;
    color: #fff;
}

ul.slick-dots li.slick-active button {
    background: #f9ad3f;
}