
@media only screen and (min-width:200px) and (max-width:767px) {
	header .header_top .btn-red {
	padding: 10px 15px;
	display: block;
	margin: 0 auto;
}
	header .header_top .con_list{
		text-align: center;
	}	
	header .header_top .con_list li a {
	padding: 4px 22px;
}
	header .social_area {
	width: 100%;
	text-align: center;
}
	header ul.social-network {
	width: 100%;
	text-align: center;
}
	header .header_dwn {
	position: relative;
	background: #000;
}
	header .header_dwn .logo_area {
	width: 192px;
	margin: 10px auto;
	
}
	header .header_dwn .logo_area img{
		width: 192px;
	}
	.stellarnav.mobile > ul > li > a {
	padding: 10px 15px;
}

	.stellarnav > ul > li > a::before {
	height: 1px;

	right: auto;
}
	#banner-carousel .owl-nav .owl-prev, #banner-carousel .owl-nav .owl-next {
	width: 33px;
	height: 33px;
	font-size: 27px;
	line-height: 28px;
}
	#banner-carousel .owl-nav .owl-prev {
	left: 5%;
}
	#banner-carousel .owl-nav .owl-next {
	right: 5%;
}
	
	.headline {
	margin-bottom: 30px;
}
	
	.headline h4 {
	font-size: 33px;
	
}
	
	#welcome_area .wel_com_txt .wel_com_img {
	margin-top: 30px;
}
	
	footer #big_footer .footer_list {
	text-align: center;
}
	footer #big_footer .footer_list li a {
	font-size: 13px;
	
}
	#visiters-carousel .owl-nav .owl-prev, #visiters-carousel .owl-nav .owl-next {
	width: 21px;
	height: 47px;
}
	#visiters-carousel .owl-nav .owl-next {
	right: 0;
}
	#visiters-carousel .owl-nav .owl-prev {
	left: 0;
}
	.gallery .gallery_img a > img{
		width: 100%;
	}
	header .header_top .header_right {
	text-align: center;
}
	.about_txt p{
		margin-bottom: 30px;
	}
	
	.mrg80T{
	margin-top: 0 !important;
}
	.header_left{
		text-align: center;
	}
	
	#header1 {
		width: 300px;}
}

/*@media only screen and (max-width: 678px) {
}*/

@media only screen and (min-width:320px) and (max-width:479px) {
	.headline h4::before {
	width: 40px;
	left: -55px;
}
	.headline h4::after {
	width: 40px;
	right: -55px;
	left: auto;
}
	
	footer #big_footer .headline h4::before {
	width: 40px;
	left: -29px;
}
	
	footer #big_footer .headline h4::after {
	width: 40px;
	right: -29px;
	left: auto;
}
	
	
	#morning_area h5 {
	font-size: 24px;
	line-height: 31px;
}
	#morning_area h5 strong {
	font-size: 21px;
}
	
	#banner-carousel .overlay {
	width: 75%;
	height: 89px;
	bottom: 0;
	margin: auto;
	top: 0;
}

	#banner-carousel .overlay h2 {
	font-size: 24px;
}
	#banner-carousel .overlay h2 strong {
	font-size: 45px;
}
	#banner-carousel .overlay h4 {
	font-size: 22px;
}
	
	
	#banner-carousel .overlay h4::after {
	width: 20px;
	right: -30px;
}
	#banner-carousel .overlay h4::before {
	width: 20px;
	left: -30px;
}
	.headline h2 {
	font-size: 23px;
	margin-top: 20px;
}
	
	.inner_page .headline h2::after {
	display: none;
}
	#morning_area {
	height: 660px;
	
}
	
}


@media only screen and (min-width:480px) and (max-width:767px) {
	
	#banner-carousel .overlay {
	width: 75%;
	height: 126px;
	bottom: 0;
	margin: auto;
	top: 0;
}

	#banner-carousel .overlay h2 {
	font-size: 38px;
}
	#banner-carousel .overlay h2 strong {
	font-size: 60px;
}
	#banner-carousel .overlay h4 {
	font-size: 27px;
}
	
	
	#banner-carousel .overlay h4::after {
	width: 20px;
	right: -30px;
}
	#banner-carousel .overlay h4::before {
	width: 20px;
	left: -30px;
}
	#morning_area h5 {
	font-size: 24px;
	line-height: 31px;
}
	#morning_area h5 strong {
	font-size: 21px;
}
	
	.headline h4::before {
	width: 100px;
	left: -110px;
}
	.headline h4::after {
	width: 100px;
	right: -110px;
	left: auto;
}
footer #big_footer .headline h4::before {
	width: 80px;
	left: -90px;
}
	
	footer #big_footer .headline h4::after {
	width: 80px;
	right: -90px;
	left: auto;
}
	header .header_top .btn-red {
	width: 300px;
	margin-bottom: 10px;
}
	.headline h2 {
	font-size: 40px;
	margin-top: 20px;
}
	
	.inner_page .headline h2::after {
	width: 120px;
	right: -130px;
	
}
	
}


@media only screen and (min-width:768px) and (max-width:991px) {
	header .header_top .con_list li a {
	font-size: 15px;
	padding: 25px 10px;
}
	header .header_dwn .logo_area {
	width: 180px;
	margin: 10px auto;
		
}
	header .header_dwn .logo_area img{
		width: 180px;
	}
	
	.stellarnav > ul > li > a {
	padding: 10px 0 20px 0;
}
	#banner-carousel .overlay {
	width: 80%;
	bottom: -120px;
	top: 0;
	margin: auto;
	height: 140px;
}
	#banner-carousel .overlay h2 {
	font-size: 40px;

}
	#banner-carousel .overlay h2 strong {
	font-size: 70px;
}
	.headline h4::before {
	width: 150px;
	left: -160px;
}
	.headline h4::after {
	width: 150px;
	right: -160px;
	left: auto;
}
	
	footer #big_footer .headline h4::before {
	width: 120px;
	left: -130px;
}
	
	footer #big_footer .headline h4::after {
	width: 120px;
	right: -130px;
	left: auto;
}
	#visiters-carousel .owl-nav .owl-prev {
	left: 0;
}
	#visiters-carousel .owl-nav .owl-next {
	right: 0;
}
	footer #big_footer .footer_list {
	text-align: center;
}
	
	
	
	
	
	
	
	
	
}

/********************@media only screen and (min-width:1024px) and (max-width:1200px)********************/


@media (min-width:992px) and (max-width:1199px) {
	header .header_dwn .logo_area {
	width: 260px;
	margin: 10px auto;
}
	header .header_dwn .logo_area img{
	width: 260px;
}
	#banner-carousel .overlay {
	width: 50%;
	height: 180px;
	bottom: -165px;
	margin: auto;
	top: 0;
}
	
	
	#banner-carousel .overlay h2 {
	font-size: 45px;
}
	#banner-carousel .overlay h2 strong {
	font-size: 85px;
}
	#banner-carousel .overlay h4 {
	font-size: 39px;
}
	
	
	
	
	
}

	
/********************@media only screen and (min-width:1201px)********************/

	

/********************@media only screen and (min-width:1201px)********************/
